{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}
<style>
    body{
        background-image: url('https://raw.githubusercontent.com/anishaputriq/shop-inventory/main/gambar_website/loginsvg.svg');
        background-size: auto; /* Mengatur latar belakang agar mencakup seluruh area elemen */
        background-repeat: no-repeat; /* Menghindari pengulangan gambar jika elemen melebihi gambar */
        background-position: center;
        font-size:medium;
    }
    .login {
        font-family: 'Baskerville Regular', Baskerville;
        width: 400px; /* Lebar form login */
        background-color: #0C1431;
        margin: 0 auto; /* Mengatur margin otomatis pada sisi kiri dan kanan, membuat form berada di tengah */
        padding: 20px; /* Ruang dalam form login */
        text-align: center; /* Teks berada di tengah form login */
        border-radius: 3%;
        color: white; /* Mengatur warna teks menjadi putih */
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
    }
    
    /* Styling lainnya sesuai kebutuhan Anda */
    .form-control {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
    }
    .login_btn {
        background-color: #00ffaa;
        color: #fff;
        border: none;
        padding: 8px 15px;
        cursor: pointer;
    }
</style>

<div class = "login">

    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn login_btn" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a>

</div>

{% endblock content %}