{% extends 'base.html' %}

{% block content %}
<style>
    body {
        background-color: oldlace;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1 {
        background-color: pink;
        font-size: 26px;
        font-family: 'Roboto', sans-serif;
    }
    h2 {
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }
    h5 {
        background-color: rgb(240, 233, 204);
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }
    th {
        font-size: 16px;
        list-style-type: upper-alpha;
        padding: 25;
        font-family: 'Roboto', sans-serif;
    }
    table, th, td {
        border: 1px solid white;
        border-collapse: collapse;
        padding: 10px;
    }
    th, td {
        font-family: 'Roboto', sans-serif;
        background-color: #96D4D4;
    }
</style>

    <h1>Shopping Inventory Page</h1>

    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p>

    <th>Kamu menyimpan {{item}} item pada aplikasi ini</th>

<table>
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Date Added</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for product in products %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.amount}}</td>
            <td>{{product.description}}</td>
            <td>{{product.date_added}}</td>
           
        </tr>
    {% endfor %}
</table>

<h5>Sesi terakhir login: {{ last_login }}</h5>
<br />

<a href="{% url 'main:create_product' %}">
    <button>
        Add New Product
    </button>
</a>

<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>

{% endblock content %}