{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %}  
<style>
    body{
        background-image: url('https://raw.githubusercontent.com/anishaputriq/shop-inventory/main/gambar_website/register.png');
        background-size: auto; /* Mengatur latar belakang agar mencakup seluruh area elemen */
        background-position: center;
    }
    h1{
        text-align:center; /* Teks berada di tengah form login */
    }
    .login {
        width: 600px; /* Lebar form login */
        background-color: #87A9DA;
        margin: 0 auto; /* Mengatur margin otomatis pada sisi kiri dan kanan, membuat form berada di tengah */
        padding: 20px; /* Ruang dalam form login */
        border-radius: 3%;
        color: white; /* Mengatur warna teks menjadi putih */
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        font-size: 14px;
        font-family: 'Baskerville Regular', Baskerville;
    }
    
    /* Styling lainnya sesuai kebutuhan Anda */
    .form-control {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
    }
    .submit {
        background-color: #00ffaa;
        color: #fff;
        border: none;
        padding: 8px 15px;
        cursor: pointer;
    }
</style>

<div class = "login">
    
    <h1>Register</h1>  

        <form method="POST" >  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input type="submit" name="submit" value="Daftar"/></td>  
                </tr>  
            </table>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}